@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* OTP Page */
.otp-form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.otp-form input {
  width: 15%;
  padding: 0.8rem;
  margin: 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 10px;
  font-size: 18px;
  text-align: center;
}

.otp-form a {
  color: #7a59dc;
  text-decoration: none;
}

.otp-form a:hover {
  text-decoration: underline;
}
