@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* SignUp & SignIn Page */
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .welcome-section {
    flex: 1;
    padding-left: 5rem;
    color: #fff;
  }
  
  .welcome-section h1 {
    font-size: 6rem;
    margin-left: 100px;
    font-weight: bold;

  }

  .welcome-section h3 {
    color: #fff;  
    font-size: 2rem;
    margin-left: 50px;

  }
  
  .form {
    width: 100%;
    max-width: 800px;
    flex: 1;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    margin-right: 20rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .form h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    
  }
  
  .form p {
    color: #6b6b6b;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    text-align: center;
  }

  .form label {
    display: block;
    text-align: left;
    color: #333;
    font-weight: bold;
    margin-top: 1rem;
}
  
  .form input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  
  }
  .terms{
    display: flex;
    align-items: center;
}

  .terms input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}

  .form button {
    width: 100%;
    padding: 0.8rem;
    background-color: #f7028b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px 0;
  }
  
  .form button:hover {
    background-color: #d90276;
  }
  
  .form a {
    color: #f7028b;
    text-decoration: none;
  }
  
  .form a:hover {
    text-decoration: underline;
  }
  
  .forgot-password {
    text-align: right;
    margin-top: 0.5rem;
  }


/* OTP Page */
.otp-form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.otp-form h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  
}

.otp-form p {
  color: #6b6b6b;
  margin-bottom: 1.5rem;
}

.otp-form input {
  width: 15%;
  padding: 0.8rem;
  margin: 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 10px;
  font-size: 18px;
  text-align: center;
}

.otp-form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #f7028b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 20px 0;
}

.otp-form button:hover {
  background-color: #d90276;
}

.otp-form a {
  color: #f7028b;
  text-decoration: none;
}

.otp-form a:hover {
  text-decoration: underline;
}

